@import "./styles/App.css";
@import './styles/TopNavBar.css';
@import "./styles/LoginForm.css";
@import './styles/MainPage.css';
@import "styles/Student.css";
@import "styles/company.css";
@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(244, 246, 250, .4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
